*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.StartModal{
    height:100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    background-size: cover; 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.466);
    backdrop-filter: blur(20px);
}
.StartModal .stbtn{
    font-size: 40px;
    padding: 20px;
    border-radius: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.616);
    margin-top: 50vh;
}
.game{
    height:100vh;
    width: 100%;
    overflow: hidden;
    background-image: url(../img/bg/night\ forest.jpg);
    background-size: cover;
}
.score{
    color: white;
    font-size: 15px;
    font-family: 'VT323', monospace;
    padding: 10px;
}
.immune{
    color: white;
    font-size: 23px;
    padding-left: 10px;
    font-weight: 600;
}
.hscore{
    color: white;
    font-size: 17px;
    font-family: 'VT323', monospace;
    padding: 10px;
}
.info{
    display: flex;
    justify-content: space-between;
}
.info .compete{
    text-align: left;
    height: fit-content;
    width: 200px;
    margin: 10px;
}
.info .mission{
    text-align: center;
    height: fit-content;
    width: 200px;
    margin: 20px;
}
.info .weaponBox{
    text-align: center;
    height: fit-content;
    width: 200px
}
.info .weaponBox div{
    height: 100px;
    width: 100px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    margin: 20px;
}
.info .weaponBox div img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.player{
    color: red;
    font-size: 20px;
    height: 150px;
    width: 100px;
    position: absolute;
    bottom: 40px;
}
.player img{
    height: 150px;
    width: 100px;
}
.enemy{
    height: 100px;
    width: 70px;
    position: absolute;
    bottom: 40px;
    left: 50vw;
}
.enemy img{
    height: 100px;
    width: 70px;
}
.enemyRun{
    animation: go 5s linear infinite;
}
.jump{
    animation: jump 0.6s linear;
}

@keyframes jump {
   0%{
       bottom: 0;
   }
   50%{
       bottom: 400px;
   }
   100%{
       bottom: 0;
   }
}
@keyframes go {
   from{
       left: 100vw;
   }
   to{
       left: -100vw;
   }
}
.vaccinep{
    color: red;
    font-size: 20px;
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 410px;
    left: 50vw;  
}
.vaccinep img{
    height: 30px;
    width: 30px;  
}
.weapon{
    color: red;
    font-size: 20px;
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 410px;
    left: 30vw; 
}
.weapon img{
    height: 30px;
    width: 30px;
}
.end{
    font-size: 30px;
    animation: blink 1s linear infinite;
}
@keyframes blink {
    0%{
        opacity: 0;
    }50%{
        opacity: 1;
        color:rgb(255, 115, 115)
    }100%{
        opacity: 0;
    }
}
.navbtn{
position: absolute;
height: 50vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
@media all and (max-width: 1300px) {
    .score{
        font-size: 10px;
        padding: 5px;
    }
    .immune{
        font-size: 12px;
        padding-left: 5px;
    }
    .hscore{
        font-size: 12px;
        padding: 5px;
    }
 }
