*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.StartModal{
    height:100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    background-size: cover; 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.466);
    backdrop-filter: blur(20px);
    /* display: none; */
}
.StartModal .stbtn{
    font-size: 40px;
    padding: 20px;
    border-radius: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.616);
    margin-top: 50vh;
    /* display: none; */
}
.game{
    height:100vh;
    width: 100%;
    overflow: hidden;
    background-image: url(../img/bg/night\ forest.jpg);
    background-size: cover;
}
.score{
    color: white;
    font-size: 15px;
    font-family: 'VT323', monospace;
    padding: 10px;
}
.immune{
    color: white;
    font-size: 23px;
    padding-left: 10px;
    font-weight: 600;
}
.hscore{
    color: white;
    font-size: 17px;
    padding: 10px;
}
.info{
    display: flex;
    justify-content: space-between;
}
.info .compete{
    text-align: left;
    height: fit-content;
    width: 200px;
    margin: 10px;
}
.info .mission{
    text-align: center;
    height: fit-content;
    width: 200px;
    margin: 20px;
}
.info .weaponBox{
    text-align: center;
    height: fit-content;
    width: 200px
}
.info .weaponBox div{
    height: 100px;
    width: 100px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    margin: 20px;
}
.info .weaponBox div img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.leftkeys button , .rightkeys button{
    background: transparent;
    border: transparent;
    border-radius: 20%;
    height: 40px;
    display: none;
}.leftkeys button img , .rightkeys button img{
    height: 40px;
    display: none;
}
.player{
    height: 150px;
    width: 100px;
    position: absolute;
    bottom: 40px;
}
.player img{
    height: 150px;
    width: 100px;
}
.enemy{
    height: 100px;
    width: 70px;
    position: absolute;
    bottom: 40px;
    left: 50vw;
}
.enemy img{
    height: 100px;
    width: 70px;
}
.enemyRun{
    animation: go 5s linear infinite;
}
.jump{
    animation: jump 0.7s linear;
}

@keyframes jump {
   0%{
       bottom: 0;
   }
   50%{
       bottom: 400px;
   }
   100%{
       bottom: 0;
   }
}
@keyframes go {
   from{
       left: 100vw;
   }
   to{
       left: -100vw;
   }
}
.vaccinep{
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 410px;
    left: 50vw;  
}
.vaccinep img{
    height: 30px;
    width: 30px;  
}
.weapon{
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 410px;
    left: 30vw; 
}
.weapon img{
    height: 30px;
    width: 30px;
}
.end{
    font-size: 30px;
    animation: blink 1s linear infinite;
}
.restart{
    background-color: rgba(255, 127, 80, 0.555);
    border: 1px solid coral;
    padding: 10px;
    margin: 10px;
    color : white;
}
a{
    color: white;
    background: rgba(125, 209, 0, 0.699);
    padding: 10px;
    position: relative;
    z-index: 1000;
}
@keyframes blink {
    0%{
        opacity: 0;
    }50%{
        opacity: 1;
        color:rgb(255, 115, 115)
    }100%{
        opacity: 0;
    }
}
.navbtn{
position: absolute;
height: 50vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
@media all and (max-width: 1300px) {
    .score{
        font-size: 10px;
        padding: 5px;
    }
    .immune{
        font-size: 12px;
        padding-left: 5px;
    }
    .hscore{
        font-size: 12px;
        padding: 5px;
    }
    .leftkeys button , .rightkeys button ,.leftkeys button img , .rightkeys button img{
        display: block;
    }
    .keys{
        display: flex;
        justify-content: space-between;
    }
    .weapon , .weapon img{
        height: 20px;
        width: 20px;
    }
    .weapon{
        bottom: 50vh;
    }
    .info .weaponBox{
        width: 130px
    }
    .info .weaponBox div{
        height: 50px;
        width: 50px;
        border-radius: 25px;
        border-radius: 1px solid white;
    }
    .info .weaponBox div img{
        height: 50px;
        width: 50px;
        border-radius: 25px;
    }
    .info .mission{
        height: 110px;
        width: fit-content;
        margin: 10px;
        font-size: 12px;
    }
    .vaccinep{
        height: 20px;
        width: 20px;
        bottom: 50vh;
    }
    .vaccinep img{
        height: 20px;
        width: 20px;  
    }
    .player {
        height: 75px;
        width: 50px;
        bottom: 10px;
    }
    .enemy{
        height: 50px;
        width: 35px;
        bottom: 10px;
    }
    .player img{
        height:75px ;
        width: 50px ;
    }
    .enemy img{
        height: 50px;
        width: 35px;
    }
    
@keyframes jump {
    0%{
        bottom: 0;
    }
    50%{
        bottom: 50vh;
    }
    100%{
        bottom: 0;
    }
 }
 }
